@tailwind base;
@tailwind components;
.theme-red {
  --color-primary-darker: #450a0a;
  --color-primary-dark: #991b1b;
  --color-primary:#dc2626;
  --color-primary-light: #fecaca;
  --color-primary-lighter: #fee2e2;
  --color-primary-lightest: #fef2f2;

  --color-secondary-darker: #451a03;
  --color-secondary-dark: #a16207;
  --color-secondary: #eab308;
  --color-secondary-light: #fef08a;
  --color-secondary-lighter: #fef9c3;
  --color-secondary-lightest: #fefce8;
}
.theme-yellow {
  --color-primary-darker: #451a03;
  --color-primary-dark: #a16207;
  --color-primary: #eab308;
  --color-primary-light: #fef08a;
  --color-primary-lighter: #fef9c3;
  --color-primary-lightest: #fefce8;

  --color-secondary-darker: #052e16;
  --color-secondary-dark: #166534;
  --color-secondary: #16a34a;
  --color-secondary-light: #bbf7d0;
  --color-secondary-lighter: #dcfce7;
  --color-secondary-lightest: #f0fdf4;
}
.theme-green {
  --color-primary-darker: #052e16;
  --color-primary-dark: #166534;
  --color-primary: #16a34a;
  --color-primary-light: #bbf7d0;
  --color-primary-lighter: #dcfce7;
  --color-primary-lightest: #f0fdf4;

  --color-secondary-darker: #881337;
  --color-secondary-dark: #9f1239;
  --color-secondary: #e11d48;
  --color-secondary-light: #fecdd3;
  --color-secondary-lighter: #ffe4e6;
  --color-secondary-lightest: #fff1f2;
}
.theme-indigo {
  --color-primary-darker: #3730a3;
  --color-primary-dark: #3730a3;
  --color-primary: #7c3aed;
  --color-primary-light: #c7d2fe;
  --color-primary-lighter: #e0e7ff;
  --color-primary-lightest: #eef2ff;

  --color-secondary-dark: #c2410c;
  --color-secondary: #ea580c;
}

@tailwind utilities;
